/* 1.All start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  transition: opacity 0.3s ease-in;
}

body, 
.navbar, 
.nav-menu, 
.button-cover
.hero-slide,
.advantages,
.advantages-container,
.news,
.news-card,
.news-text p,
.register-section,
.register-container,
.register-form input,
.register-btn,
.footer,
.footer-bottom {
  transition: background-color 0.2s ease, color 0.2s ease;
}


.wrapper {
  transform: translateY(40px);
  transition: transform 0.3s ease-out;
}

body.loaded {
  opacity: 1;
}

body.loaded .wrapper {
  transform: translateY(0px);
}

/* 1.All end */

/* 2.Navbar start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #A90C2C;
  color: white;
  padding: 10px 20px;
  flex-wrap: wrap;
  font-weight: 600;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.brand img {
  height: 50px;
  margin-right: 10px;
}

.brand-text span {
  font-weight: bold;
  display: block;
}

.brand-text small {
  font-size: 14px;
}

.menu-toggle {
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.menu-text {
  color: white;
  text-decoration: none;
  position: relative;
}

.menu-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-text:hover::after,
.menu-text.current-page::after {
  transform: scaleX(1);
}

.button-cover {
  background: #464646;
  color: white;
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}

.button-cover:hover {
  font-weight: bold;
}

.theme-toggle-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* Responsivity for navbar  */
@media (max-width: 872px) {
  .menu-toggle {
    display: block;
  }

  .button-cover {
    padding: 0px 0px;
    background: none;
  }
  
  .nav-menu {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    background: #A90C2C;
    margin-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    transform: translateY(-10px); 
    transition: max-height 0.3s ease, opacity 0.2s ease, transform 0.3s ease;
  }

  .nav-menu li a {
    display: block;
    padding: 12px 16px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    color: white;
    text-decoration: none;
  }

  .nav-menu.show {
    transform: translateY(0px); 
    max-height: 300px; 
    opacity: 1;
  }

  .theme-toggle-btn {
    padding-left: 10px;
  }
}
/* 2.Navbar End */

/* 3.Hero start*/
.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
  z-index: 1;
}

.hero-caption {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.hero-caption h1 {
  font-family: 'Anton', sans-serif;
  font-size: 38px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.hero-caption p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  max-width: 600px;
}
/* 3.Hero End */

/* 4.Advantages Start */
.advantages {
  background-color:#f0ecec;
  padding: 70px 10px;
}

.advantages-container {
  background-color: #4f5253;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.advantages-image img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.advantages-text {
  padding: 18px 18px;
  flex: 1;
  min-width: 280px;
}

.advantages-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.advantages-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.advantages-text ul {
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.advantages-text ul li {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .advantages-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .advantages-image img {
    max-width: 100%;
    height: auto;
  }

  .advantages-text {
    padding: 10px;
  }

  .advantages-text h2,
  .advantages-text p {
    font-size: 16px;
  }

  .advantages-text ul {
    text-align: left;
    padding-left: 30px;
  }
}
/* 4.Advantages End */

/* 5.News Section Start */
.news {
  padding: 70px 10px;
  background-color: #f5f5f5;
  color: #333;
}

.news-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.news-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.news-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-text {
  padding: 15px 20px;
}

.news-text h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.news-text p {
  font-size: 16px;
  color: #555;
}
/* 5.News Section End */

/* 6.Register Section Start*/
.register-section {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.register-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.register-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.register-btn {
  display: inline-block;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  font-size: 16px;
  background-color: #a90c2c;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.register-btn:hover {
  background-color: #870922;
  transform: translateY(-3px);
}
/* 6.Register Section End*/

/* 7.Footer Start */
.footer {
  background-color: #a90c2c; 
  color: white;
  padding: 40px 20px 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-left {
  text-align: center;
  justify-content: center;
}

.footer-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer-logo-title img {
  height: 40px;
  width: auto;
}

.footer-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-right {
  text-align: center;
}

.social-label {
  color: #f5d442; 
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f5d442;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  color: #f0f0f0;
}

/* Responsivity for footer */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
  }

  .footer-left,
  .footer-right {
    flex: 1;
  }
}
/* 7.Footer End */


/* DARK MODE CHANGES */

/* 1.All Start */
body.dark-mode {
  background-color: #121212;
  color: white;
}
/* 1.All End */

/* 2.Navbar Start */
body.dark-mode .navbar {
  background-color: #1e1e1e;
}

body.dark-mode .nav-menu {
  background-color: #1e1e1e;
}

.hero-slide.active .button-cover {
  background-color: #333;
}
/* 2.Navbar End*/

/* 3.Hero Section Start */
body.dark-mode .hero-slide {
  filter: brightness(0.4); 
  transition: filter 0.3s ease, opacity 1s ease-in-out;
}
/* 3.Hero Section End */

/* 4.Advantages Section Start */
body.dark-mode .advantages {
  background-color: #181414;
}

body.dark-mode .advantages-container {
  background-color: #333;
}
/* 4.Advantages Section End */

/* 5.News Section Start */
body.dark-mode .news {
  background-color: #1a1a1a;
  color: white;
}

body.dark-mode .news-card {
  background-color: #2b2b2b;
  box-shadow: 0 4px 10px rgba(255,255,255,0.05);
}

body.dark-mode .news-text p {
  color: #ccc;
}
/* 5.News Section End */

/* 6.Register Section Start */
body.dark-mode .register-section {
  background-color: #1a1a1a;
}

body.dark-mode .register-container {
  background-color: #1e1e1e;
  color: white;
}

body.dark-mode .register-form input {
  background-color: #2b2b2b;
  color: white;
  border-color: #444;
}

body.dark-mode .register-btn {
  background-color: #bb2c3b;
}
/* 6.Register Section End */

/* 7.Footer Start */
body.dark-mode .footer {
  background-color: #1e1e1e;
}

body.dark-mode .footer-bottom {
  color: #aaa;
}

body.dark-mode .footer-social a:hover {
  color: #f5d442;
}
/* 7.Footer End */



